.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



.main-child1{
    text-align: center;
}

.main-child1 p{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    
    margin-bottom: 16px;
    color: #1E2A39;
}

.main-child1 span{
    font-weight: normal;
    font-size: 16px;
    color: #5C6272;
}


.main-child2{
    margin-top: 100px ;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    gap: 50px;
}

.main-child2 .card{
    padding: 50px;
    width: 300px;
    background-color:  white;
}

.main-child2 .card h2{  
    font-weight: 600;
    color: #1E2A39;
}

.main-child2 .card p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #5C6272;
}


.main-child2 .card h2,.main-child2 .card p{
    position: relative;
    top: 50px;
}



@media screen   and (min-width:320px) and (max-width:480px){

    .main-child1 {
        margin-top: 160px;
    }
    
    
    .main-child2 {
        display: block;
    }

    .main-child2 .card{
        margin: 20px;
        border-radius: 15px;
    }
}